<h1>Authorize Card</h1>
<div>
	<div class="container">
  <form class="form-horizontal" method="post" action="/authorize"  role="form">
    <fieldset>
      <legend>Authorize card</legend>

      <div class="form-group">
        <label class="col-sm-3 control-label" for="password">Password</label>
        <div class="col-sm-9">
          <input type="password" class="form-control" name="password" id="card-number" placeholder="Debit/Credit Card Number">
          <input type="hidden" name="rechargeId" id="rechargeId" />
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <button type="submit" class="btn btn-success">Verify</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>


</div>

<script type="text/javascript">
function getQueryParams(qs) {
  if(!qs)
  { 
    qs = document.location.search
  } 
    qs = qs.split('+').join(' ');

    var params = {},
        tokens,
        re = /[?&]?([^=]+)=([^&]*)/g;

    while (tokens = re.exec(qs)) {
        params[decodeURIComponent(tokens[1])] = decodeURIComponent(tokens[2]);
    }

    return params;
}

var rechargeId = getQueryParams().rechargeId;

document.getElementById("rechargeId").value = rechargeId;
</script>

